<%- include ../partials/header.ejs %> 

<%- include ../partials/mainNav.ejs %>

<!-- Main Content -->
<div class="jumbotron" style="background-color: #8F9398; padding-top: 0px; padding-bottom: 10px; border-top-left-radius: 0px; border-top-right-radius: 0px;">
    

    <div class="jumbotron" style="padding-top: 32px; padding-bottom: 32px; background-color: #62676C; border-top-left-radius: 0px; border-top-right-radius: 0px;">
      <h1 class="display-2" style="text-align: center; color: #60B0F4;"><%= title %></h1>
    </div>

    <hr style="border-top: 10px dotted #62676C; width: 7%;">

    <div class="jumbotron" style="padding-top: 32px; padding-bottom: 32px; background-color: #62676C;">
        <div>
            <div>

                <% if (typeof displayName == 'string' && displayName) { %>
                <a href="/contact-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Contact</a>
                <% } %>

                <table class="table table-striped table-hover" style="color: white;">
                    
                    <!-- Header row -->
                    <tr style="border: 2px solid #8F9398;">
                        <th class="text-center">Name</th>
                        <th class="text-center">Contact Number</th>
                        <th class="text-center">Email</th>
                        <% if (typeof displayName == 'string' && displayName) { %>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <% } %>
                    </tr>

                    <!-- Repeatable Tamplate Row -->
                    <% for (let count = 0; count < ContactList.length; count++) { %>
                        <tr style="border: 2px solid #8F9398;">
                            <td class="text-center"><%= ContactList[count].name %></td>
                            <td class="text-center"><%= ContactList[count].contactNumber %></td>
                            <td class="text-center"><%= ContactList[count].email %></td>
                            <% if (typeof displayName == 'string' && displayName) { %>
                            <td class="text-center">
                                <a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Edit
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </td>
                            <% } %>
                        </tr>
                    <% } %>
              </table>
          </div>
      </div>
    </div>
    

</div>

<%- include ../partials/bottomNav.ejs %>

<%- include ../partials/footer.ejs %>

